<!-- if menu is not present then some message will be displayed -->
<div ng-if="menuList.length === 0" class="offline-menu">{{'menu.NO_MENU' | translate}}</div>

<!-- if menu list is present -->
<div ng-if="menuList.length > 0">
    
    <!-- menu header section -->
    <div class="card list menu-person-section">
        <div class="item item-icon-left" id="userInfo">
            <img fallback-image class="icon" ng-src="{{userImage}}" style="display: none;"/>
            <i class="icon ion-person"></i>
            <div class="user-name ellipses-wrap" id="userName">{{'menu.GUEST' | translate}}</div>
            <div class="user-setting">
                <select class="lang-selection" ng-change="changeLocale(selectedLocale)" ng-model="selectedLocale" ng-options="item.lang for item in localeList track by item.key"></select>
            </div>
        </div>
    </div>
    <!-- end menu header section -->
    
    <!-- menu section -->
    <div class="list menu-section" id="menuSection">
        <div class="item item-icon-left {{item.view.split('.').join('-')+' '+((item.menu && item.menu.length > 0) ? 'sub-menu-header' : '')+' '+((item.class) ? item.class : '')}}" ng-repeat="item in menuList" ng-init="showSubmenu = false;" ng-click="showSubmenu = !showSubmenu; item.view && navigate(item.view, $event)">
            <div class="highlight"></div>
            <i class="icon {{item.icon}}"></i>
            <span class="menu-text">{{'menu.'+item.menuDesc | translate}}</span>
            <i class="icon {{(showSubmenu) ? 'ion-chevron-down' : 'ion-chevron-right'}} sub-menu-indicator" ng-if="item.menu && item.menu.length > 0"></i>
            <div class="list sub-menu" ng-if="item.menu && item.menu.length > 0" ng-show="item.menu && showSubmenu">
                <div class="item {{(subMenu.className) ? subMenu.className : ''}}" ng-repeat="subMenu in item.menu" ng-click="$event.stopPropagation(); subMenu.view && navigate(subMenu.view)">
                    <i class="icon {{subMenu.icon}}"></i>
                    <span>{{'menu.'+subMenu.menuDesc | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end menu section -->
    
</div>