<!-- if menu is not present then some message will be displayed -->
<div ng-if="menuList.length === 0" class="offline-menu">{{'menu.NO_MENU' | translate}}</div>

<!-- if menu list is present -->
<div ng-if="menuList.length > 0">
    
    <!-- menu header section -->
    <div class="card list menu-person-section">
        <div class="item item-icon-left">
            <i class="icon ion-person"></i>            
            <div class="user-name ellipses-wrap">Guest</div>
            <div class="user-setting">
                <select class="lang-selection" ng-change="changeLocale(selectedLocale)" ng-model="selectedLocale" ng-options="item.lang for item in localeList track by item.key"></select>
            </div>
            <div class="user-city ellipses-wrap">City not mentioned</div>
        </div>
    </div>
    <!-- end menu header section -->
    
    <!-- menu section -->
    <div class="list menu-section">
        <div class="item item-icon-left {{(item.menu && item.menu.length > 0) ? 'sub-menu-header' : '' }}" ng-repeat="item in menuList" ng-click="item.view && navigate(item.view)">
            <i class="icon {{item.icon}}"></i>
            {{'menu.'+item.menuDesc | translate}}
            <div class="list" ng-if="item.menu && item.menu.length > 0">
                <div class="item" ng-repeat="subMenu in item.menu" ng-click="subMenu.view && navigate(subMenu.view)">
                    <i class="icon {{subMenu.icon}}"></i>
                    {{'menu.'+subMenu.menuDesc | translate}}
                </div>
            </div>
        </div>
    </div>
    <!-- end menu section -->
    
</div>