<ion-view title="{{'login.LOGIN' | translate}}">
    
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{'login.USER_NAME' | translate}}</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'login.PASSWORD' | translate}}</span>
                <input type="password">
            </label>
        </div>
        
        <div class="padding">
            <div>
                <button class="button button-block button-positive" ng-click="login()">{{'login.LOGIN' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>