<ion-view title="{{'submitRecipe.title' | translate}}">
    <ion-content>
        <div class="submit-recipe-container">
            <form>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.recipe_name' | translate}}</span>
                        <input type="text" autocomplete="off" placeholder="{{'submitRecipe.recipe_name_placeholder' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.short_note' | translate}}</span>
                        <input type="text" autocomplete="off" placeholder="{{'submitRecipe.short_note_placeholder' | translate}}" maxlength="250">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.origin' | translate}}</span>
                        <selection url="originUrl"
                                   max-selection="1"
                                   attr-name="origin"
                                   modal-header="{{'submitRecipe.origin_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.origin_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.timing' | translate}}</span>
                        <selection url="timingUrl"
                                   max-selection="1"
                                   attr-name="timing"
                                   modal-header="{{'submitRecipe.timing_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.timing_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.tag' | translate}}</span>
                        <selection url="categoryUrl"
                                   max-selection="3"
                                   attr-name="category"
                                   modal-header="{{'submitRecipe.tag_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.tag_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.ingredients' | translate}}</span>
                        <input type="text" ng-focus="addIngredients($event)" autocomplete="off" placeholder="{{'submitRecipe.ingredients_placeholder' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.steps' | translate}}</span>
                        <input type="text" ng-focus="addSteps($event)" autocomplete="off" placeholder="{{'submitRecipe.steps_placeholder' | translate}}">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.upload_image' | translate}}</span>
                        <input type="file">
                    </label>
                </div>

                <button type="submit" class="button button-block button-positive">{{'submitRecipe.submit' | translate}}</button>
            </form>
        </div>
    </ion-content>
</ion-view>