<ion-view title="{{'submitRecipe.title' | translate}}">
    <ion-content>
        <ion-nav-buttons side="right" ng-if="isModified">
            <button class="button button-icon ion-refresh" ng-click="resetPage()"></button>
        </ion-nav-buttons>
        <div class="submit-recipe-container">
            <form>
                <div ng-if="isDirty" class="dirty-form-message">{{'submitRecipe.error_info' | translate}}</div>
                <div class="list" id="formList">
                    <label ng-class="{'form-error': isDirty && model.name === ''}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.recipe_name' | translate}}</span>
                        <input input-validator ng-model="model.name" type="text" autocomplete="off" placeholder="{{'submitRecipe.recipe_name_placeholder' | translate}}">
                    </label>
                    <label ng-class="{'form-error': isDirty && model.shortNote === ''}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.short_note' | translate}}</span>
                        <input input-validator ng-model="model.shortNote" type="text" autocomplete="off" placeholder="{{'submitRecipe.short_note_placeholder' | translate}}" maxlength="250">
                    </label>
                    <label ng-class="{'form-error': isDirty && model.origin.length === 0}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.origin' | translate}}</span>
                        <selection url="originUrl"
                                   max-selection="1"
                                   attr-name="origin"
                                   submit-data="submit"
                                   pre-selected-data="model"
                                   modal-header="{{'submitRecipe.origin_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.origin_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label ng-class="{'form-error': isDirty && model.timing.length === 0}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.timing' | translate}}</span>
                        <selection url="timingUrl"
                                   max-selection="1"
                                   attr-name="timing"
                                   submit-data="submit"
                                   pre-selected-data="model"
                                   modal-header="{{'submitRecipe.timing_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.timing_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label ng-class="{'form-error': isDirty && model.category.length === 0}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.tag' | translate}}</span>
                        <selection url="categoryUrl"
                                   max-selection="3"
                                   attr-name="category"
                                   submit-data="submit"
                                   pre-selected-data="model"
                                   modal-header="{{'submitRecipe.tag_modalheader' | translate}}"
                                   placeholder="{{'submitRecipe.tag_placeholder' | translate}}">
                        </selection>
                    </label>
                    <label ng-class="{'form-error': isDirty && model.ingredients.length === 0}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.ingredients' | translate}}</span>
                        <editor modal-header="{{'submitRecipe.ingredients_modal_header' | translate}}"
                                maxlength="100"
                                max-addition="100"
                                attr-name="ingredients"
                                submit-data="submit"
                                pre-selected-data="model"
                                icon="ion-spoon"
                                placeholder="{{'submitRecipe.ingredients_placeholder' | translate}}"></editor>
                    </label>
                    <label ng-class="{'form-error': isDirty && model.fullDescription.length === 0}" class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.steps' | translate}}</span>
                        <editor modal-header="{{'submitRecipe.steps_modal_header' | translate}}"
                                maxlength="250"
                                max-addition="100"
                                attr-name="fullDescription"
                                submit-data="submit"
                                pre-selected-data="model"
                                icon="ion-pin"
                                placeholder="{{'submitRecipe.steps_placeholder' | translate}}"></editor>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{'submitRecipe.upload_image' | translate}}</span>
                    </label>
                </div>
                <div class="button-container">
                    <button ng-click="makeDraft()" ng-disabled="!isModified" class="button button-block button-positive">{{'submitRecipe.draft' | translate}}</button>
                    <button ng-click="submitRecipe()" ng-disabled="isDirty" class="button button-block button-positive">{{'submitRecipe.submit' | translate}}</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>