<ion-view title="{{'submitRecipe.title' | translate}}">
    <ion-content>
        <div class="submit-recipe-container">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Recipe Name</span>
                    <input type="text" placeholder="E.g. pizza">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Short Note on recipe</span>
                    <input type="text" placeholder="Small note about recipe" maxlength="250">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>