<ion-nav-bar class="bar-assertive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>

<ion-view title="{{categoryName | capitalize:true}}">
    <ion-content class="dynamic-category-recipe-section full-category-container">
        <div class="card" ng-if="recipeList.length > 0">
            <a ng-href="#/fullRecipe" ng-repeat="recipe in recipeList track by $index" ng-click="navigateToFullRecipe(recipe)" class="item item-thumbnail-top" id="{{recipe._id}}">
                <img class="item-image-section" fallback-image ng-src="{{imagePath+recipe.media}}" />
                <div class="item-action-section">
                    <h2 class="item-title-section">{{recipe.title}}</h2>
                </div>
            </a>
            <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMoreRecipe()" distance="10%"></ion-infinite-scroll>
        </div>
        <div ng-if="recipeList.length === 0" class="no-data-available">{{'recipe.no_recipe_available' | translate}}</div>
    </ion-content>
</ion-view>