<ion-view title="{{'recipe.header' | translate}}">
    <ion-content>
        <div class="full-recipe-container item-container" id="{{recipe._id}}">
            <h1 class="recipe-title">{{recipe.title}}</h1>
            <div class="recipe-image">
                <img class="item-image-section" fallback-image ng-src="{{imagePath+recipe.media}}" />
                <div class="item-action-section">
                    <span class="save-item {{(isSaved) ? 'favorite-item' : ''}}" ng-click="addToFavorite($event, recipe)">
                        <i class="icon ion-ios-heart"></i>
                    </span>
                </div>
            </div>

            <div class="recipe-description">{{recipe.description}}</div>
            <div class="full-recipe-section">
                <div class="ingredient-title">{{'recipe.ingredient-title' | translate}}</div>
                <ul class="all-ingredient">
                    <li ng-repeat="ingredient in recipe.recipe.ingradient track by $index">
                        <i class="icon ion-bookmark"></i>
                        {{ingredient}}
                    </li>
                </ul>
                <div class="ingredient-title">{{'recipe.ingredient-process' | translate}}</div>
                <div class="full-recipe-description" ng-bind-html="recipe.recipe.full_description"></div>
                <div class="recipe-tag-section">
                    <i class="icon ion-pricetags"></i>
                    <span ng-repeat="category in recipe.category track by $index" class="tag">{{category | capitalize}}</span>
                </div>
                <div class="recipe-tag-section origin">
                    <i class="icon ion-location"></i>
                    <span class="tag">{{recipe.origin | capitalize}}</span>
                </div>
                <div class="recipe-author-section">
                    <i class="icon ion-android-contact"></i>
                    <span class="author-text">{{'recipe.author' | translate}}:</span>
                    <span class="author-name">{{recipe.cook.name | capitalize}}</span>
                </div>
                <div class="action-container row">
                    <div class="col">
                        <button class="button button-icon icon ion-android-share-alt share-recipe"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-archive download-recipe" ng-click="downloadPdf()"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-archive ion-thumbsup" ng-click="recommendRecipe(recipe._id)">
                            <span class="like-count">{{recipe.recommended}}</span>
                        </button>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="comment-title">{{'recipe.comment-title' | translate}}</div>
                    <textarea id="commentBox" class="comment-box" placeholder="{{('recipe.comment_box_placeholder' | translate) + maxCommentCharLimit}}" maxlength="{{maxCommentCharLimit}}" rows="3" cols="8"></textarea>
                    <div class="submit-comment-btn">
                        <button ng-click="submitComment(recipe._id)" class="button button-block button-positive">{{'recipe.recipe-comment-submit' | translate}}</button>
                    </div>
                    <div class="comment-title">{{'recipe.all-comment-title' | translate}}</div>
                    <comment-box comments="comments" recipe-id="recipe._id"></comment-box>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>