<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">{{modalHeader}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="editor-container">
            <input id="input" ng-keyup="addText($event)" type="text" ng-if="+maxlength <= 100" placeholder="{{('submitRecipe.max_char_limit' | translate) + maxlength}}" maxlength="{{maxlength}}">
            <textarea id="multiLineInput" ng-if="+maxlength > 100" placeholder="{{('submitRecipe.max_char_limit' | translate) + maxlength}}" maxlength="{{maxlength}}"></textarea>
            <button class="button button-small button-positive add-button" ng-click="addText(); multiInput = null; singleInput = null;">{{'submitRecipe.add' | translate}}</button>
            <div class="selected-values">
                <ul>
                    <li ng-repeat="item in selected track by $index">
                        <i ng-if="icon" class="icon {{icon}}"></i>
                        <span>{{item}}</span>
                        <a href="javascript:;" class="icon ion-close delete-text assertive" ng-click="deleteText($event)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="modal-footer-bar">
        <button ng-click="submit()" class="button button-block button-positive">{{'submitRecipe.done' | translate}}</button>
    </ion-footer-bar>
</ion-modal-view>