.nav-bar > .title {
    text-align: left;
}
.bar-footer .tabs > .tab-item {
    max-width: none;
}
.item-image-section {
    width: 100%;
    height: 160px;
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 4px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0 4px 10px -5px rgba(0,0,0,0.75);
    border-top: 1px solid #dfdfdf;
}
.today-special-menu-header {
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0 1px 0 rgba(150, 150, 150, 1);
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.today-special-menu-header:before {
    border-top: 2px dotted #aaa;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
.today-special-menu-header span {
    background: #fff;
    padding: 0 15px;
}
.item-title-section {
    font-weight: bold;
    width: 75%;
    display: inline-block;
    color: #fff;
    line-height: 25px;
    margin: 0 !important;
}
.item-action-section {
    padding: 5px;
    position: absolute;
    background: url("../resources/back.png");
    bottom: 0;
    width: 100%;
}
.special-recipe-section .slider-pager {
    bottom: 0;
}
.special-recipe-section .item {
    border: 1px solid #aaa;
    border-bottom: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: -1px 7px 17px -6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 7px 17px -6px rgba(0,0,0,1);
    box-shadow: -1px 7px 17px -6px rgba(0,0,0,1);
}
.special-recipe-section .slider-slide {
    margin-bottom: 20px;
}
.save-item, .info-item {
    width: 30px;
    height: 30px;
    font-size: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    vertical-align: top;
    background: #fff;
    float: right;
    -webkit-box-shadow: inset -1px -2px 16px -5px rgba(0,0,0,1);
    -moz-box-shadow: inset -1px -2px 16px -5px rgba(0,0,0,1);
    box-shadow: inset -1px -2px 16px -5px rgba(0,0,0,1);
}
.save-item > .icon, .info-item > .icon {
    color: #484848;
    position: relative;
}
.save-item > .icon {
    font-size: 1.4em;
    top: 5px;
    left: 6px;
}
.info-item > .icon {
    font-size: 2.8em;
    top: -8px;
    left: 12px;
}
.receipe-category-section button {
    margin: 0 !important;
}
.receipe-category-section .col {
    padding: 1px !important;
    margin: 0 !important;
}
.receipe-category-section,
.receipe-category-section .row {
    padding: 0 !important;
}
.receipe-category-section .button {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.margin-top-10 {
    margin-top: 10px;
}
.dynamic-category-recipe-section .bar-header {
    position:static;
    border: 0;
}
.dynamic-category-recipe-section .bar-header .button {
    right: 0 !important;
}
.dynamic-category-recipe-section .bar-header .title {
    text-align: left;
    font-weight: bold;
    margin-left: 0;
}
.dynamic-category-recipe-section .item,
.dynamic-category-recipe-section .item-image-section{
    height: 100px;
    padding: 0;
}
.dynamic-category-recipe-section .item-title-section {
    width: 100%;
    display: block;
    line-height: inherit;
    font-size: 0.9em !Important;
    font-weight: normal;
}
.dynamic-category-recipe-section .row {
    margin-top: 0;
    padding: 0;
}
.dynamic-category-recipe-section .row .col {
    padding: 0;
}
.special-recipe-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #F1EBEB;
    color: #000;
    display: block;
    font-size: 0.9em;
    z-index: 999;
    padding: 5px;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
}
.special-recipe-description .full-desc {
    height: 80%;
    overflow: auto;
}
.close-desc {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #000;
    color: #6B6767;
    position: absolute;
    font-size: 2.5em;
    bottom: 5px;
    right: 5px;
    z-index: 9999;
}
.close-desc > .icon {
    top: 0;
    left: 10px;
    position: relative;
    font-size: 0.8em;
    color: #fff;
}
.favorite-item > .icon {
    color: #F10958;
}
.no-connection {
    text-align: center;
    font-size: 1.2em;
    margin-top: 30px;
}
.no-connection > a {
    margin: 10px;
    display: inline-block;
    font-size: 1.2em;
}
.search-recipe-section {
   background: url("../resources/darkback.png");
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.search-button-section {
    padding: 5px;
}
.search-button-section > button {
    font-size: 1.4em !important;
}
.search-filter-section {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 88px;
    overflow: auto;
}
.search-filter-section .item {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.search-filter-section .toggle .track {
    border-color: #9E9E9E;
    background-color: #9E9E9E;
}
.search-filter-header-section {
    color: #fff;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
}
.no-data-available {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}