.my-recipe-container .item .item-title-section,
.saved-recipe-container .item .item-title-section {
    color: #000;
    font-size: 1em;
    width: 80%;
}
.my-recipe-container .item-thumbnail-left,
.saved-recipe-container .item-thumbnail-left {
    padding: 4px;
    padding-left: 95px;
}
.my-recipe-container .no-my-recipe,
.saved-recipe-container .no-saved-recipe {
    font-size: 1.1em;
    padding: 15px;
    text-align: center;
}
.my-recipe-container .item-thumbnail-left>img:first-child,
.saved-recipe-container .item-thumbnail-left>img:first-child {
    top: 5px;
    left: 5px;
    max-width: 85px;
    max-height: 85px;
}
.saved-recipe-container .item .full-desc {
    margin-top: 4px;
}
.my-recipe-container .item .full-desc {
    margin-top: 0;
}
.multi-line-ellipsis {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    white-space: normal !important;
}
.multi-line-ellipsis:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 2px;
    background: #fff;
    padding-left: 4px;
}
.activated .multi-line-ellipsis:after,
.activated .multi-line-ellipsis:before {
    background: #d9d9d9;
}
.multi-line-ellipsis:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.remove {
    -webkit-animation:0.5s remove;
    animation:0.5s remove;
}
@-webkit-keyframes remove {
    0%  {opacity: 1;}
    100%   {opacity: 0;}
}
@keyframes remove {
    0%  {opacity: 1;}
    100%   {opacity: 0;}
}
.submit-recipe-container {
    padding: 10px;
    padding-bottom: 0;
}
.submit-recipe-container .button-container > button {
    width: 50%;
    margin: 5px;
}
.submit-recipe-container .button-container {
    display: flex;
}
.submit-recipe-container input[type=file] {
    line-height: 1em;
    display: block;
}
.submit-recipe-container .item-stacked-label {
    border-left: 0;
    border-right: 0;
}
.submit-recipe-container .list > .item.item-stacked-label:first-child {
    border-top: 0;
}
.submit-recipe-container .list > .item.item-stacked-label:last-child {
    border-bottom: 0;
}
.submit-recipe-container .list > .item.item-stacked-label > .selection-container > .icon {
    font-size: 1.7em;
}
.modal-footer-bar {
    margin-bottom: 15px;
    -webkit-box-shadow: 0 -3px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 -3px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0 -3px 12px -4px rgba(0,0,0,0.75);
    border: 0;
}
.selected-values ul > li {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    white-space: normal;
}
.selected-values ul > li > i.icon {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    position: relative;
    left: 0;
}
.selected-values ul > li > span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    white-space: normal;
    line-height: 2em;
    margin-right: 20px;
}
.selected-values ul > li:nth-child(odd) {
    background: #dfdfdf;
}
.selected-values ul > li:nth-child(even) {
    background: #efefef;
}
.modal-footer-bar > button {
    margin-left: 10px;
    margin-right: 10px;
}
.placeholder-text {
    display: inline-block;
    padding: 4px 0 0;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.8em;
    font-style: italic;
    color: #bbb;
}
.editor-container {
    padding: 10px;
}
input, textarea {
    border: 1px solid #dfdfdf;
    padding: 5px;
}
.editor-container .item-container {
    margin-top: 10px;
}
.editor-container .add-button {
    margin-top: 10px;
    width: 80px;
}
textarea {
    resize: none;
}
.discard {
    position: fixed;
    top: 0.1em;
    right: 0.2em;
    font-size: 2.2em;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #EF473A;
    padding: 2px;
}
.discard:before {
    position: relative;
    left: 2px;
    top: 0;
    color: #fff;
}
.popup-title {
    font-weight: bold;
}
.form-error {
    border-left: 8px solid red !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dirty-form-message {
    color: red;
    font-size: 1em;
    font-style: italic;
    padding-left: 15px;
}
.editor-container input {
    border: 1px solid #dfdfdf;
    padding: 5px;
}
.selected-values ul > li > a.icon.delete-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    position: absolute;
    line-height: 1.5em;
    right: 17px;
}
.my-recipe-container .button-section {
    background: url("../resources/back.png");
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    z-index: 9;
    text-align: center;
}
.my-recipe-container .button-section > .icon {
    font-size: 2em;
    color: #fff;
    display: block;
    margin: 11px auto;
}