.full-recipe-container {
    padding: 10px;
}
.full-recipe-container .recipe-description {
    font-size: 1.1em;
    white-space: normal;
    margin-top: 10px;
    font-style: italic;
}
.full-recipe-container .full-recipe-section {
    margin-top: 20px;
}
.full-recipe-container .ingredient-title,
.full-recipe-container .recipe-title,
.full-recipe-container .comment-title {
    font-weight: bold;
    font-size: 1.7em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 4px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0 4px 17px -10px rgba(0,0,0,0.75);
}
.full-recipe-container ul.all-ingredient {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.2em;
}
.full-recipe-container .all-ingredient > li > .icon {
    position: absolute;
    top: 5px;
    font-size: 2em;
    left: 7px;
}
.full-recipe-container ul.all-ingredient > li {
    padding: 10px 0;
    padding-left: 30px;
    position: relative;
}
.full-recipe-container ul.all-ingredient > li:nth-child(odd) {
    background: #dfdfdf;
}
.full-recipe-container ul.all-ingredient > li:nth-child(even) {
    background: #fff;
}
.full-recipe-container .item-image-section {
    position: relative;
    height: 240px;
    border: 1px solid #dfdfdf;
}
.full-recipe-description {
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 1.2em;
}
.full-recipe-container .action-container {
    width: 100%;
    margin: 15px auto;
}
.full-recipe-container .action-container > .col {
    text-align: center;
}
.full-recipe-container .action-container .icon {
    font-size: 2.5em;
}
.recipe-tag-section {
    font-size: 1.3em;
    margin: 20px 0;
}
.recipe-tag-section  > .icon {
    font-size: 1.7em;
}
.recipe-tag-section > .tag {
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 2px 5px;
    display: inline-block;
    padding-bottom: 4px;
    border-radius: 5px;
    margin: 2px;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.10);
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.10);
}
.recipe-tag-section > .tag:nth-of-type(odd) {
    background: #F3F0F0;
}
.comment-box {
    border: 1px solid #ccc;
}
.dynamic-category-recipe-section.full-category-container {
    padding: 5px;
}
.dynamic-category-recipe-section.full-category-container .card {
    margin: 0;
}
.dynamic-category-recipe-section.full-category-container .card > .item {
    width: 50%;
    float: left;
}
.dynamic-category-recipe-section.full-category-container .card > .item:only-child {
    width: 100% !important;
}
.comment .comment-cook-name {
    font-size: 1.4em;
    margin-bottom: 0;
}
.comment .comment-cook-city {
    font-size: 0.9em;
    font-style: italic;
}
.comment .comment-cook {
    margin-left: 25px;
    font-size: 1.2em;
    margin-top: 10px;
}
.comment {
    margin-top: 15px;
    position: relative;
}
.submit-comment-btn {
    margin-bottom: 20px;
}
.like-count {
    font-size: 0.5em;
    vertical-align: middle;
    position: relative;
    left: -5px;
}
.full-recipe-container .recipe-tag-section.origin .icon {
    font-size: 2em;
    margin-right: 10px;
}
.full-recipe-container .recipe-author-section {
    font-size: 1.3em;
    margin: 20px 0;
}
.full-recipe-container .recipe-author-section .author-text {
    position: relative;
    top: -5px;
    margin-left: 10px;
}
.full-recipe-container .recipe-author-section .author-name {
    position: relative;
    top: -5px;
}
.full-recipe-container .recipe-author-section .icon {
    font-size: 1.6em;
}
.full-recipe-container .recipe-image {
    position: relative;
}
.full-recipe-container .recipe-image .item-action-section {
    bottom: 5px;
}
.shadow-remove {
    background: url("../resources/back.png");
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.shadow-remove.ng-enter-active {
    opacity: 1;
}
.shadow-remove.ng-leave-active {
    opacity: 0;
}
.shadow-remove.ng-enter {
    -webkit-animation:0.5s show;
    animation:0.5s show;
}
.shadow-remove.ng-leave {
    -webkit-animation:0.5s hide;
    animation:0.5s hide;
}
.delete-comment {
    position: absolute;
    right: 0;
    padding: 5px;
    border: 1px solid #aaa;
    font-size: 2.5em;
    background: #fff;
    height: 100%;
}
.delete-comment::before {
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    position: relative;
}
.no-comment {
    padding: 10px 0;
}
.comment-date {
    font-size: 0.6em;
    float: right;
}
.action-sheet-group .item {
    padding: 0 !important;
    margin: 0;
    color: #fff;
    width: 100%;
}
.action-sheet-group .button {
    border: 0 none;
}
.action-sheet-title {
    color: #000;
    font-size: 1.2em;
}